
.nav {
    grid-area: n;
    background-color: var(--blue);
    border-radius: 10px;
    min-width: 150px;
    padding: 30px;
  }

.nav li {
  margin: 10px 5px;
}

.nav a {
    color: var(--light);
    transition: font-size .1s;
  }

  .active {
    font-size: x-large;
    color: var(--purple) !important;
  }

  a:hover {
    color: var(--purple);
  }