.Login {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 2px solid var(--blue);
    border-radius: 10px;
    padding: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.form input{
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    outline: none;
    border: 2px solid var(--blue);
}

.remeberMe {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.remeberMe input {
    width: 20px;
    height: 20px;
}