:root {
  --purple: #9f62ae;
  --blue: #c1d4e9;
}

* {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  animation: fade .2s linear;
}

a{
  text-decoration: none;
  color: black;

}

.app-wrapper {
  display: grid;
  grid-template-rows: 90px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  grid-template-areas:
    "h h"
    "n c";
  margin: 0 100px;
}

.app-wrapper-content {
  grid-area: c;
}


@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}